    #wrapper{
      min-height : 100%;  
      width:100%;    
      height: auto !important;
      margin-bottom: 10px;
    }

    footer {
      padding: 25px;
      position:absolute;
      bottom:0px;
      margin:25px;
      width:100%;
      height:60px;
    }

    #Logo{
      margin-top:-30px;
      font-size :200px;
    }

    body{
     // background-image: url("../images/bg.png");
    }

    .jumbotron {
      //background-color:transparent;
      background-image: url("../images/bg.png");
      display:none;
    }

    .quiz{
      
    }

    .qanda{
      width:100%;
      //border-radius: 15px 50px;
      white-space: normal;
    }

   
    #countDownNumber{
       border-radius: 100px;
       width : 100px;
       height:100px;
    }

    .audioFiles{
      opacity:0;
    }

    #TimeLeft{
      color : #d33682;
    }

    #gameName{
      color: #b58900;
    }

    #question{
      background-color:#083e4b;
      padding : 5px;
      color:white;
    }

    #congrats,#Incorrects,#FinalImge{
        display:none;
    }

    #startgame{
      //display:none;
      padding :20px;
      padding-bottom:50px;
      width:60%;
      font-size:40px;
    }

