    #wrapper{
      height : 80vh;  
      width:100%;    
      margin-bottom: 10px;
      clear:both;
      bottom:70px;
    }

    #Logo{
      margin-top:-30px;
      font-size :200px;
    }

    body{
     // background-image: url("../images/bg.png");
     height:100%;
    }

    .jumbotron {
      //background-color:transparent;
      background-image: url("../images/bg.png");
      display:none;
      clear:both;
    }

    .qanda{
      width:100%;
      //border-radius: 15px 50px;
      white-space: normal;
    }
   
    #countDownNumber{
       border-radius: 100px;
       width : 100px;
       height:100px;
    }

    .audioFiles{
      opacity:0;
    }

    #TimeLeft{
      color : #d33682;
    }

    #gameName{
      color: #b58900;
    }

    #question{
      background-color:#083e4b;
      padding : 5px;
      color:white;
    }

    #congrats,#Incorrects,#FinalImge{
        display:none;
    }

    #startgame{
      //display:none;
      padding :20px;
      padding-bottom:50px;
      width:60%;
      font-size:40px;
    }

    @media screen and (max-width: 640px) {
      footer{
        position:absolute;
      }
    }

    @media screen and (max-width: 980px) {
      footer{
        position:fixed;
      }
    }