    footer {
      padding: 25px;
      position: relative;
      bottom:0px;
      width:100%;
    }

    #Logo{
      margin-top:-30px;
      font-size :200px;
    }

    body{
     // background-image: url("../images/bg.png");
    }

    .jumbotron {
      background-color:transparent;

    }

    .quiz{
      
    }

    .qanda{
      width:100%;
      //border-radius: 15px 50px;
      white-space: normal;
    }

   
    #countDownNumber{
       border-radius: 100px;
       width : 100px;
       height:100px;
    }

